@using MediatR
@using Microsoft.EntityFrameworkCore
@using SecretSanta.Core.Domain
@using SecretSanta.Core.Domain.Contexts
@inject IMediator _mediatr
@inject SantaContext _dbContext;

@page "/"

<h1>Hello, world!</h1>

Test Github actions change to restart service after a successful deploy

<p>SQL success: @SQLSuccess</p>
<p>@SQLException</p>

<div style="border-left: 3px solid green; padding-left: 10px;">
    @if(peep != null)
    {
        <p>Mediatr</p>
        <p>Pickee: @peep.Person1</p>
        <p>Picker: @peep.Person2</p>
    }
</div>

<div style="border-left: 3px solid blue; padding-left: 10px;">
    @if(WhoPicked != null)
    {
        <p>Straight DB</p>
        <p>Pickee: @WhoPicked.Person1</p>
        <p>Picker: @WhoPicked.Person2</p>
    }
</div>

@code {
    private whopickedwho peep;
    private bool SQLSuccess = true;
    private string SQLException;
    private whopickedwho WhoPicked;
    
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        try
        {
            //using (var db = new Core.Domain.Contexts.SantaContext())
            // using (var db = new _dbContext)
            // {
                _dbContext.Database.CanConnect();
                
                WhoPicked = _dbContext.WhoPickedWho
                    .Where(q => q.Person1 == 12)
                    .AsNoTracking()
                    .FirstOrDefault();
            // }
        } 
        catch (Exception ex)
        {
            var except = ex.Message;
            SQLSuccess = false;
            SQLException = ex.Message;
        }


        var thingy = _mediatr.Send(new Core.Queries.FetchWhoPersonPicked.Query {
            PersonId = 12
        }).Result;

        if(thingy.Success)
        {
            peep = thingy.picked;
        }
    }
}